miniconda3/

s1_baseline/s1.1-1.5B
s1_baseline/s1.1-32B
s1_baseline/s1.1-7B

deepseek_baseline/DeepSeek-R1-Distill-Qwen-32B
deepseek_baseline/DeepSeek-R1-Distill-Qwen-7B

video_processing/rawvideos/*
!video_processing/rawvideos/.gitkeep
video_processing/transcripts/*
!video_processing/transcripts/.gitkeep
video_processing/.git/
