miniconda3/

s1_baseline/s1.1-1.5B
s1_baseline/s1.1-32B
s1_baseline/s1.1-7B

deepseek_baseline/DeepSeek-R1-Distill-Qwen-32B
deepseek_baseline/DeepSeek-R1-Distill-Qwen-7B

video_processing/rawvideos/*
!video_processing/rawvideos/.gitkeep
!video_processing/rawvideos/videos.csv
video_processing/relevant_videos/*
!video_processing/relevant_videos/.gitkeep
video_processing/frames/*
video_processing/.git/
video_processing/cookies.txt
s1_baseline/relevant_videos/*
!s1_baseline/relevant_videos/.gitkeep

momask_baseline/generation/*

video_processing/cluster_server_script/Depth-Anything-V2/Video_output/
video_processing/cluster_server_script/Depth-Anything-V2/checkpoints/*

depth_anything_baseline/Video_output/
depth_anything_baseline/output/
depth_anything_baseline/checkpoints/*
